/****************** MAIN ELEMENTS ******************/

.TRNoSpry:hover { background-color:#b0cfe7; }
.TRNoSpry:focus  { background-color:#FFFFAA; }

.SpryHiddenRegion {visibility:hidden;}
table{ font-size:12px;}

body {
	   font-family:Arial, Helvetica, sans-serif; 
	   font-size:12px;
	   color:#000000; 
	   background-color: #000000;
	   margin: 10px;
	    }
admintext{
	   font-family:Arial, Helvetica, sans-serif; 
	   font-size:12px;
	   color:#000000; 
	   }

#multiSelectBox {background-color:#CCCCCC; overflow:auto; width:415px; height:184px; margin:0px; float:left; border-style:inset; border-width:2px; font-size:1.2em;}
#checkBoxLabel {  display:block; float:left; width:166px;  margin:0px; }
 
 ul.form li ul.multipleLabelBlock { margin: 0px; padding: 0px; list-style: none; list-style-image: none; clear: both; margin-left: 15px}
 ul.form li ul.multipleLabelBlock li { float: none; width: auto; margin: 0px; padding: 0px; border-bottom: 0px solid #efefef; overflow: hidden; height: 1%}
 ul.form li ul.multipleLabelBlock li label { width: auto; float: left; font-weight: normal; padding: 0 10px 0 5px}
 ul.form li ul.multipleLabelBlock li input { float: left; width: auto; display: block; padding: 0px; margin: 0px; width: 15px; height: 15px}
 
 
a { color:#860a0a;
	font-size:12px;
	text-decoration:underline;
	cursor: pointer; }

a:hover { color:#860a0a;
		  font-size:12px;
		  text-decoration:none; }
			   
a.Small { color:#003366;
		  font-size:11px;
		  text-decoration:underline; }
		  
a.Small:hover { color:#003366;
		  		font-size:11px;
		  		text-decoration:none; }

a.HelpLinks { color:#860a0a;
			  font-size:11px;
			  text-decoration:underline; }

a.HelpLinks:hover { color:#860a0a;
		  		    font-size:11px;
					text-decoration:none; } 
		  
p { font-family:Arial, Helvetica, sans-serif; 
	font-size:11px;
	color:#000000; }
	
.DropDowns { font-size:11px;
			 font-family:Arial,Helvetica,sans-serif;
			 color:#000000; }
			 
.textinput { font-size:11px;
			 font-family:Arial,Helvetica,sans-serif;
			 color:#000000; }
			 
ul.form input[type=text], ul.form input[type=password], ul.form select, ul.form textarea { width: 200px; }
ul.form textarea { height: 75px; }
ul.form textarea:focus { width: 500px; height: 200px; }
ul.form pre { color: red; font-weight: bold; font-size: 14px; border:1px solid black; padding: 10px; background-color: #FFFFCC; }

ul.form select.timebox { width: 50px; }

.Button { font-size:11px;
		  font-family:Arial,Helvetica,sans-serif;
		  color:#000000;
		  cursor:pointer; }

.ButtonTable { margin-top:7px;
			   margin-bottom:7px; }
			   
.Message { color:#860a0a;
		   font-size:12px;
		   font-weight:bold;
		   padding-top:5px;
		   padding-bottom:5px; }
		   
.HelpText { font-size:11px;
		    font-family:Arial, Helvetica, sans-serif;
		    color:#000000; }
		    
table.hours { border: 1px solid #000000; padding: 10px; background-color: #eeeeee; }
table.hours th { text-align: left; }
table.hours input[type=text] { width: 60px; }
				 			 
/****************** OUTTER DIV BORDER ******************/
		  
.MainBorder { border-width:1px;
			  border-color:#60656a;
			  border-style:solid;
			 width:100%; 
			 min-width:770px; 
			 background-color:#ffffff;
			 margin-bottom: 100px; }

/****************** TOP BANNER ******************/
			  
.BannerBackgroundTop { background-image:url(images/banner-background-top.jpg);
					   width:771px;
					   height:88px; }
					   
.BannerBackgroundBottom { background-image:url(images/banner-background-bottom.jpg);
					   	  width:771px;
					      height:31px; }
						 
#banner { background-color:#ffffff; width:100%; height:100px; position:relative; border-bottom:1px solid #ccc; }

.Banner { padding-left:10px;
		  padding-right:10px;
		  padding-bottom:10px;
		  padding-top:0px; }

/****************** BREADCRUMBS ******************/

.BreadCrumbs { font-size:11px;
			   color:#000000;
			   height:30px;
			   padding-left:5px; }

/****************** SUBNAVIGATION ******************/

.SubNav { padding:5px;
		  font-size:12px;
		  color:#000000; 
		  background-color:#f8f9f9;
		  border-bottom-width:1px;
		  border-top-width:1px;
		  border-left-width:0px;
		  border-right-width:0px;
		  border-style:solid;
		  border-color:#edefef; }

.SelectedSubNav { color:#999999; }

/****************** TABS *************************/

.Tabs { background-image:url(images/admin-middle-tab.jpg);
		background-repeat:repeat-x;
		padding-left:5px;
		padding-right:5px;
		font-size:11px;
		font-weight:bold;
		text-decoration:none;
		color:#a5a4a4; }
		
.Tabs2 { background-image:url(images/admin-middle-tab2.jpg);
		background-repeat:repeat-x;
		padding-left:5px;
		padding-right:5px;
		font-size:11px;
		font-weight:bold;
		text-decoration:none;
		color:#a5a4a4; }
		
a.TabsActive { font-size:11px;
			   font-weight:bold;
			   text-decoration:none;
			   color:#860a0a; }
			   
a.TabsActive:hover { font-size:11px;
			   		 font-weight:bold;
			   		 text-decoration:underline;
			   		 color:#860a0a; }
			   
a.TabsVisited { font-size:11px;
			    font-weight:bold;
			    text-decoration:none;
				color:#51575c; }
				
a.TabsVisited:hover { font-size:11px;
			    	  font-weight:bold;
			    	  text-decoration:underline;
					  color:#51575c; }

a.Disabled { font-size:11px;
			 font-weight:bold;
			 text-decoration:none;
			 color:#a5a4a4;
			 cursor:text; }

a.Disabled:hover { font-size:11px;
				   font-weight:bold;
			 	   text-decoration:none;
			 	   color:#a5a4a4;
			 	   cursor:text; }

.BottomTabSection { border-top-width:0px;
			    	border-bottom-width:1px;
			    	border-left-width:1px;
			    	border-right-width:1px;
			    	border-style:solid;
			    	border-color:#a5abae;
					background-color:#efefef;
					padding:5px; }
								 		
/****************** FORM TABLES ******************/

.OutterForm { border-top-width:1px;
			  border-bottom-width:1px;
			  border-left-width:0px;border-right-width:0px;
			  border-style:solid;
			  border-color:#a5abae; }

.LeftBorder { border-top-width:0px;
			  border-bottom-width:0px;
			  border-left-width:1px;
			  border-right-width:0px;
			  border-style:solid;
			  border-color:#a5abae; }
			  
.LeftRightBorder { border-top-width:0px;
				   border-bottom-width:0px;
			  	   border-left-width:1px;
			  	   border-right-width:1px;
			  	   border-style:solid;
			  	   border-color:#a5abae; }

.MiddleSpacer { height:2px;
				border-top-width:1px;
				border-bottom-width:1px;
				border-left-width:0px;
				border-right-width:0px;
				border-style:solid;
				border-color:#a5abae; }
				
.RightBorder { border-top-width:0px;
			   border-bottom-width:0px;
			   border-left-width:0px;
			   border-right-width:1px;
			   border-style:solid;
			   border-color:#a5abae; }
			  		  			  
.FormBar { background-image:url(images/form-bar-bg.jpg);
		   background-repeat:repeat-x;
		   height:18px;
		   font-size:12px;
		   font-family:Arial, Helvetica, sans-serif;
		   font-weight:bold;
		   color:#545557; }
		   
.FormBody { font-size:12px;
		    font-family:Arial, Helvetica, sans-serif;
		    color:#545557;
			background-color:#fbfbfb;
			padding:5px; } 
			
.FormBody2 { font-size:12px;
		     font-family:Arial, Helvetica, sans-serif;
		     color:#545557; } 

.FormProducts { font-size:12px;
		        font-family:Arial, Helvetica, sans-serif;
		        color:#545557;
				background-color:#fbfbfb;
				border-top-width:1px;
			    border-bottom-width:1px;
			    border-left-width:1px;
			    border-right-width:1px;
			    border-style:solid;
			    border-color:#a5abae;
				padding-left:10px;
				padding-right:10px;
				margin-top:0px;
				padding-top:0px; }
			 
.Or { font-size:13px;
	  font-family:Arial,Helvetica,sans-serif;
	  color:#666666;
	  font-weight:bold; }

/*
.odd{ background-color:#fbfbfb;font-size:12px;
		     font-family:Arial, Helvetica, sans-serif;
		     color:#545557;}

.even{ background-color:#efefef;font-size:12px;
		     font-family:Arial, Helvetica, sans-serif;
		     color:#545557;}
*/
				  			
/****************** FOOTER ******************/
			  
.FooterBackgroundTop { background-image:url(images/footer-background-top.jpg);
					   width:771px;
					   height:27px; }
					   
.FooterBackgroundBottom { background-image:url(images/footer-background-bottom.jpg);
					   	  width:731px;
					      height:66px;
						  font-size:11px;
						  padding-left:20px;
						  padding-right:20px; }

/****************** OTHER ******************/

.DashedLine { border-style:dashed;
			  border-color:#999999;
			  border-top-width:1px;
			  border-bottom-width:0px;
			  border-left-width:0px;
			  border-right-width:0px; }	
			  
.admintext { }	
	   
.code {
	border:1px solid #E6EADB;
	background:#ffffff;
	font-size:12px;
	padding:5px;
}   
	   
.tree {
	font-family: arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
	
	color: #666;
	white-space:nowrap;
}
.tree img {
	border: 0px;
	vertical-align: middle;
}
.tree a {
	color: #333;
	font-family: arial, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}
.tree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 1px 2px 1px 2px;
}
.tree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #c0d2ec;
}
.tree a.nodeSel {
	background-color: #c0d2ec;
}
.tree .clip {
	overflow: hidden;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	
	
}

div#MessageBox { border: 1px solid #990000; background-color: #FFFFCC; display: none; padding: 10px 20px 10px 20px; margin-bottom: 20px; }
span.error { display: inline; color: red; padding-left: 20px; background: url('/images/icon-caution.gif') no-repeat 3px 0; vertical-align: top; overflow: visible; }
input.error, select.error, textarea.error { background-color: #FFFF99; border-color: red;  }

.listStyle
{
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	border:1px solid black;
	padding:"0px 0px 0px 0px";
}

.listItemStyle
{
	cursor:pointer;
	border-bottom:1px solid #777777;
	padding:6px 0px 6px 0px;
}


.listItemKey
{
	text-align:left;
	font-weight:bold;
	padding-left:2px;
}

.listItemValue
{
	padding-left:20px;
	text-align:right;
}

input.smallCheckbox
{
	width: 12px;
	height: 12px;
}

div.AddNew { text-align: right; margin-bottom: 10px; float:right; width:300px; }
.testWidget{ float:left; width:300px; margin-bottom:20px;}
.cb{clear:both;}
.testWidget label{ font-weight:bold;}
.sideWidget{ width:auto; background-color:#efefef; margin-top:20px; padding:10px;}

.validation-failed {border:2px solid #993333; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000;}
.validation-passed {border:1px solid #000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000;}


.validation-advice-text { float:left; width:441px; margin:2px 0px 5px 0px; padding:0px 0px 5px 0px; color:#993333; }
*html .validation-advice-text { margin: 0 0 0 1px; padding: 3px; }
.validation-advice-textarea { float: left; width: 441px; margin: 0 0; padding: 3px; background-color: #D37C7C; color : #FFF; font-weight: bold; }
.validation-advice-select { float:left; width:441px; margin:2px 0px 5px 0px; padding:0px 0px 5px 0px; color:#993333; }
div.PasswordStrength { border: 1px solid black; color: #000000; width: 80px; display: inline-block; text-align: center; }
div.PasswordStrength.Fail { background-color: #000000; color: #FFFFFF; }
div.PasswordStrength.Poor { background-color: #660000; }
div.PasswordStrength.Weak { background-color: #FF6600; }
div.PasswordStrength.Mild { background-color: #FF9900; }
div.PasswordStrength.Strong { background-color: #00FF00; }

.reportExportOptions { margin-top:20px; }

/* Sortable tables */
table.sortable a.sortheader {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}


/*/////////////////////////////////////
//////      SPRY TABS       /////////
/////////////////////////////////////*/

/* Horizontal Tabbed Panels */
.TabbedTopPanels {	margin: 0px; padding: 0px; border:0px;	clear:both;	 /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/}
.TabbedTopPanelsTabGroup, .TabbedTopPanelsTabSubGroup {	margin: 0px 0px 0px 5px;	padding: 0px;	float:left;	clear:both;}
.TabbedTopPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 3px 0px 0px;
	font-size:11px;
	background-color: #DDD;
	list-style: none;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
}

.TabbedTopPanelsTab.active{ background-color:#333333; color:#FFFFFF; padding-top:4px;  border-bottom:1px solid #333333; top:1px; position:relative }

.TabbedPanelsSubTabs {
	margin:5px;
	float: left;
	padding: 4px 10px;
	font-size:11px;
	background-color:#333333;
	list-style: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
}
.TabbedPanelsSubTabsSelected{
  background-color:#00FFCC


}

.TabbedTopPanelsTabHover {
	
}
.TabbedTopPanelsTabSelected {
	background-color: #333333;
	border-bottom: solid 1px #FFCC66;	
}
.TabbedTopPanelsTab a {
	color: black;
	text-decoration: none;
	font-size:11px;
}

.TabbedTopPanelsTab.active a{ color:#FFFFFF;}

.TabbedTopPanelsContentGroup {
	clear: both;
	border-top: solid 1px #999;
	background-color: #FFF;
}

.TabbedPanelsContentSubGroup {
	clear: both;
}

.TabbedTopPanelsContent {
	
}
.TabbedTopPanelsContentVisible {
}




/*/////////////////////////////////////
//////      SPRY TABS       /////////
/////////////////////////////////////*/

/* Horizontal Tabbed Panels */
.TabbedPanels {	margin: 0px; border:0px;	clear:both;	 /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/}
.TabbedPanelsTabGroup, {	margin: 0px 0px 0px 0px; background-color:#333333;	padding: 0 0 0 5px; overflow:hidden; height:1%; clear:both;}
.TabbedPanelsTabSubGroup {	margin: 0px 0px 0px 0px; background-color:#333333;	padding: 0 0 0 10px; overflow:hidden; height:1%; clear:both;}
.TabbedPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 3px 0px 0px;
	font-size:11px;
	background-color: #DDD;
	list-style: none;
	
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
}



.TabbedPanelsSubTabs {
	position: relative;
	top: 1px;
	float: left;
	padding: 5px 10px 5px 10px;
	margin: 5px 5px 0 0;
	font-size:11px;
	background-color: #333333;
	list-style: none;
	color:#CCCCCC;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
}

.TabbedPanelsTabHover {
text-decoration:underline;
	
}
.TabbedPanelsSubTabs a{ color:#CCCCCC; text-decoration:none; font-size:11px; }
.TabbedPanelsSubTabs a:hover{ text-decoration:underline;}
.TabbedPanelsSubTabs.current { background-color: #ffffff;}
.TabbedPanelsSubTabs.current a { color: #000000;}
.TabbedPanelsTabSelected, .TabbedPanelsSubTabs.active {
	background-color: #666666;
	margin:5px 5px 5px 0;
	color:#FFFFFF;
	
}
.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
	font-size:11px;
}
.TabbedPanelsContentGroup {
	clear: both;
	border-top: solid 1px #999;
	background-color: #FFF;
}
.TabbedPanelsContent {
	
}
.TabbedPanelsContentVisible {
}



/*/////////////////////////////////////
////// LAYOUT ITEMS /////////
/////////////////////////////////////*/
.topSection{text-align:center; clear:both; margin-top:10px; width:100%; float:left; margin-bottom:20px;}
.Container{ overflow:hidden; height:1%;}
.paddedContainer{ padding:10px; height:1%; overflow:hidden;  }
.formContainer, .formSubContainer { padding:10px; background-color:#FFFFFF; overflow:hidden; height:1%; }
/*used for static left column, liquid right */
div#wrapper{float:left; width:100%;  }
div#content{margin-left:200px;}
div#navigation{float:left; padding:10px; width:180px; position:relative; z-index:100; margin-right:-100%;   overflow:hidden;}
/*left 20%*/
.left20Col{width:20%; float:left; zoom:1}

/* right 50% left 50% */
.right50Col{margin-left:50%; zoom:1}
.left50Col{width:50%; float:left; zoom:1}
/* right 40% left 60% */
.left60Col{width:60%; float:left; zoom:1}
.right40Col{margin-left:60%;}
/* right 60% left 40% */
.left40Col{width:40%; float:left; zoom:1}
.right60Col{margin-left:40%; }




/*/////////////////////////////////////
//////    GENERAL STYLES      /////////
/////////////////////////////////////*/

/*tweaking styles*/

.pl10{padding-left:10px;}
.ml10{ margin-left:10px;}
.mt10{ margin-top:10px;}
.mb10{ margin-bottom:10px;}
.mr10{ margin-right:10px;}
.db{display:block;}
.cb{clear:both;}
.fr{ float:right;}
.p10{ padding:10px;}
.note{font-size:10px; color:#666666;}

.bottomNote { clear:both; display:block; margin-left:210px; padding-top:4px; color:red; font-size:10px; }


/*/////////////////////////////////////
//////   INSTRUCTIONS SECTION  /////////
/////////////////////////////////////*/
div.instructions{ padding:10px 20px 0px 10px}
div.instructions p{ margin:0px; padding:5px 0 5px 0;}



/*/////////////////////////////////////
//////    SECTION TITLES     /////////
/////////////////////////////////////*/
.sectionTitle{ margin:0px; padding:0px; background-color:#666666; /*background-image:url(images/grad.png);*/ background-position:bottom; background-repeat:repeat-x; color:#ffffff; font-size:12px; font-weight:bold; padding:5px; }
#navigation h2.sectionTitle{ margin:0px; padding:0px; background-color:#efefef; background-position:bottom; background-repeat:repeat-x; color:#000000; font-size:12px; font-weight:bold; padding:5px; background-image:none; clear:both;}



/* /////////////////////////////////////
//////      FORM STYLES       /////////
///////////////////////////////////// */
form{ margin:0px; padding:0px;}
div.inputForm{ padding:0px; border:1px solid #a5abae; display:block;  background-color:#fbfbfb; overflow:hidden; height:1%;  }
/*allows fieldset to work correctly in IE and Firefox */
html fieldset{position: relative; margin-top:1em; padding-top:.75em; }
/*general form */
ul.form li ul{ margin:0px; padding:0px; list-style:none; list-style-image:none; }
ul.form{ margin:0px; padding:0px; list-style:none; list-style-image:none; font-size:12px;}
ul.form li{ border-bottom:1px solid #efefef; display:block;  padding-top:5px; padding-bottom:5px; /*overflow:hidden; height:1%;*/ padding-left:10px; padding-right:10px; border-top:1px solid #ffffff; }
ul li label{ width:200px; display:block; float:left; font-weight:bold; padding-right:10px;}
ul li.required label:after { content: '*'; }
/* full spanning label (for when input needs to go to next line)*/
/* ul.form input[type=text], ul.form input[type=password], ul.form select { width: 250px; }  */
ul li.fullSpan{ padding-left:10px;}
ul li.fullSpan label{ padding-bottom:5px; display:block; float:none; width:100%;}
/*navigation column form styles*/
#navigation ul.form{ margin:0px; padding:0px; list-style:none; list-style-image:none; font-size:12px; width:180px; }
#navigation ul.form input{ width:100%; margin-left:-1px;}
#navigation ul.form input.noStyle{width:auto; margin-left:0px;}
#navigation ul.form select{ width:100%; margin-left:-1px;}
/* horizontal forms */
ul.inline3 li{float:left; width:31%; border-bottom:0px; }
ul.inlineForm{ margin:0px; padding:0px; list-style:none; list-style-image:none; font-size:12px;  }
ul.inlineForm li{ float:left; border-bottom:0px; border-bottom:0px;  display:block;  padding-top:5px; padding-bottom:5px; overflow:hidden; height:1%; border-top:0px solid #ffffff;}
/*multiple inputs in one list item - horizontally*/	
ul li ul.multipleLabel li{ float:left; width:auto; margin:0px; padding:0px; border-bottom:0px solid #efefef;}
ul li ul.multipleLabel li label{ width:auto; float:left; font-weight:normal; padding:0 10px 0 5px;}
ul li ul.multipleLabel li input{ float:left; width:auto; spadding:0px; margin:0px; line-height:12px; width:auto; width:15px; height:15px;}
/*multiple inputs in one list item - vertically*/	
ul.form li ul.multipleLabelBlock { margin:0px; padding:0px; list-style:none; list-style-image:none; clear:both; margin-left:15px; }
ul.form li ul.multipleLabelBlock li{ float:none; width:auto; margin:0px; padding:0px; border-bottom:0px solid #efefef; overflow:hidden; height:1%;}
ul.form li ul.multipleLabelBlock li label{ width:auto; float:left; font-weight:normal; padding:0 10px 0 5px;}
ul.form li ul.multipleLabelBlock li input{ float:left; width:auto; display:block; padding:0px; margin:0px; width:15px; height:15px;}
/*div around submit button*/		
.submitButtonContainer, .submitSubButtonContainer { text-align:center; width:100%; float:left; background-color:#efefef; padding-top:5px; padding-bottom:5px; clear:both; }
/*button style*/
.Button{}
ul.form div.formholder { position:relative; margin-left: 200px; }
.datepicker { background-image: url('/images/ui-icon-calendar.png'); background-repeat: no-repeat; background-position: right center; }


div#login.inputForm{ width:300px;  margin:auto;  float:none; background-color:#FFFFFF; }
div#login.inputForm label{ width:100px;}
div#login.inputForm li{ border:0px;}
div#login .submitButtonContainer{ background-color:#FFFFFF}
/*/////////////////////////////////////
//////      DATA LISTS       /////////
/////////////////////////////////////*/
ul.dataList{ margin:0px; padding:0px; list-style:none; list-style-image:none; font-size:12px;}
ul.dataList li{ border-bottom:1px solid #efefef; display:block;  padding-top:5px; padding-bottom:5px; overflow:hidden; height:1%; padding-left:10px; padding-right:10px; border-top:1px solid #ffffff;}
ul.dataList li label{ display:inline;  font-weight:bold; padding-right:10px;}
ul.dataList li span{ display:inline;}
ul.dataList li div{ display:inline;}



/*/////////////////////////////////////
////// SEQUENCE ADJUST FORM STYLES /////////
/////////////////////////////////////*/
.sequenceList{float:left; width:60%; }
.sequenceList span{display:block; font-size:12px; padding:5px;}
.sequenceAdjust{float:right; width:40%;}
.sequenceAdjust input{display:block; margin-left:10px;}
.sequenceList select{width:100%; display:block;}




/*/////////////////////////////////////
////// EXISTING ITEMS TABLE /////////
/////////////////////////////////////*/
 table{ padding:0px; margin:0px;}
.existingItemsTable{ font-size:12px;}
.existingItemsTable thead tr {background-color:#cccccc; text-align:center; padding:10px;}
.existingItemsTable tr th{ padding:5px; text-align: center; }
.existingItemsTable tr th[sidx]{ cursor:pointer; }
.existingItemsTable tr td{ padding:5px; border-bottom:1px solid #cccccc; border-top:1px solid #ffffff; text-align: center; }
.existingItemsTable tr.odd { background-color: #EFEFEF; }
.existingItemsTable tr.hover, .existingItemsTable tr.odd hover { background-color: #b0cfe7; }
.existingItemsTable tr td.functions a { cursor: pointer; }
.existingItemsTable tr th.selHead { width: 14px; }
.existingItemsTable .left { text-align: left; }
.existingItemsTable .red { font-weight: bold; color: red; }

.existingItemsTable tr.totals { background-color: #FFFFcc; font-weight: bold;  }

.checkboxTable { border: 1px solid black; padding: 3px; }

div.OptionSelectorOuterContainer { margin: 10px; height: 400px; }
div.OptionSelectorContainer { width: 270px; height: 380px; position:absolute; overflow: hidden; background-color: #EFEFEF; padding: 10px 15px 10px 10px; }
div.OptionSelectorContainer#ZipResultsContainer { margin: 0 0 0 0px; }
div.OptionSelectorContainer#ZipResultsContainer { margin: 0 0 0 305px; }
div.OptionSelectorContainer#ZipChosenContainer { margin: 0 0 0 610px; }
div.OptionSelectorHead { font-weight: bold; margin-bottom: 2px;  }
div.OptionSelector { border: 1px solid #AFA68E; padding: 2px; background-color: white; width: 100%; height: 320px; overflow: auto; }	
div.OptionSelector label { font-weight: bold; }
div.OptionSelector tr td { border: 0px; padding: 0 2px 0 2px; }
div.OptionSelector input[type="text"], div.OptionSelector select { width: 200px; }
div.OptionSelector a.add { float: left; padding: 0 3px 0 3px; margin: 0 0 0 5px; font-size: 90%; border:0; }

table.existingItemsTable { width: 100%; }
table.template-chooser td { text-align: center; width: 100px; }
div#ZipSearch.OPtionSelector { padding:5px;}
div.OptionSelector a, div.OptionSelectorNav a { cursor:pointer; padding:5px 10px; background-color:#fff; border:1px solid #AFA999; text-decoration:none; }
div.OptionSelector a:hover, div.OptionSelectorNav a:hover { background-color: #FFFF99; text-decoration:none; }
div.OptionSelector a.add:hover{ background-color:transparent}

div.pagination { margin-top: 5px; padding: 20px 0 20px 0; text-align: left; white-space: nowrap; }
div.pagination span { padding: 0 10px 0 10px; }

div.actions { margin-top: 10px; }	

div.OptionSelectorNav { margin-top: 10px; text-align: center; }

ul.form div.EditorContainer { position:relative; margin-left: 200px; }

/*/////////////////////////////////////
////// MULTISELECT BOX /////////
/////////////////////////////////////*/
#multiSelectBox {background-color:#FFFFFF; overflow:auto; width:415px; height:144px; margin:0px; float:left; border-style:inset; border-width:2px; font-size:1.0em;}
#multiSelectBox  ul  {width:98%; float:left;  margin:4px 0px 0px 0px; padding:0px; }
#multiSelectBox  li {padding:0px 2px 4px 2px;  line-height:1.5em; }
#multiSelectBox  label { width:24px; text-align:center; padding:0px 0px 2px 0px; float:left; display:block;  }
p.checkBoxLabel {  display:block; float:left; width:166px;  margin:0px; }

.RateTable { background-color: #999999; }
.RateTable th { background-color: #EEEEEE; padding: 5px; width: 100px; }
.RateTable td { background-color: #FFFFFF; padding: 2px; width: 100px; }
.RateTable td.model { font-weight: bold; white-space: nowrap; }
.RateTable td.off { background-color: #CCCCCC; }
.RateTable input { width: 80px !important; border: 0px; }

.PermissionsTable { background-color: #999999; }
.PermissionsTable th { background-color: #EEEEEE; padding: 5px; }
.PermissionsTable td { background-color: #FFFFFF; padding: 2px; }
.PermissionsTable td.label { width: 250px; } 


input[disabled], select[disabled] { color: black; }

h1.pageHead { font-size: 21px; padding: 0px 0px 0px 10px; margin: 0px; }
.adminHomeSection{ background-color:#efefef; margin:10px; padding:10px; width:300px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  float:left; display:inline; height:170px; }
.adminHomeSection h3{ margin:0px; padding:0px; margin-top:10px;}
.adminHomeSection p{ margin:0px; padding:0px; font-size:12px; }
.adminHomeSection h2{ margin:0px 0px 10px 0px; padding:0px; font-size:18px; font-weight:normal; background-color:#FFFFFF; padding:5px; border:1px solid #cccccc;}
.adminHomeColumn{ width:100%;}
.adminHomeSection ul li{ font-size:12px;}




