@charset "utf-8";
/* CSS Document */
input.button{ overflow:visible; padding:5px 5px 4px 5px; line-height:10px}
#siteTools a{display:inline-block; padding:6px 10px 5px 10px;}
#mainNav li.hover li a.hasSub{  z-index:-1; }
#mainNav li li{ margin:0;}
#mainNav li li a{ display:inline-block;; width:180px;}
#mainNav li li a:hover{ }

h1.page-title{ margin-bottom:20px;}
.catalogHeader{ background-image:none;}
#intro{ 
background-image:url(../images/bg-intro.jpg); 
background-position: center;
background-repeat:repeat; 
padding:20px;

}

.clearfix3{ }

.step{ display:none;}
.shoppingCartTitle{ padding-left:20px; margin-left:0;}
.checkoutForm{ margin-left:0;}
