#all{ padding:10px; }
.container{ display:block; width:100%; margin:0;}
#sidebar, .contentPage #sidebar{ float:none; width:100%; padding:0; margin:0;}
.contentPage #content, #content{ width:100%; float:none;}
#main{ width:100%; float:none;}
#mainNav{ width:100%; background-color:#efefef; border:1px solid #ccc; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
#mainNav li{ border-bottom:1px solid #ccc;}
#mainNav li:last-child{ border-bottom:0;}
#mainNav li a{ font-size:21px; }
#mainNav ul li li a { line-height:26px;}
.sub_menu{ display:block; position:static; background-color:#fff; top:auto; visibility:visible; float:none; clear:both; left:auto; z-index:0; width:100%; -moz-box-shadow:0 0 0 transparent; -webkit-box-shadow:0 0 0 transparent; box-shadow:0 0 0 transparent;}
.sub_menu ul{ width:100%; float:none; }
.sub_menu ul li{ border-bottom:0;}
.container{ width:100%; min-width:0;}
#mainNav .sub_menu ul li{ border-bottom:0;}
ul.dropdown ul{ display:block; width:100%; padding:0;}
ul.dropdown ul li{ display:block; float:none; overflow:hidden; height:1%; padding:0; }
#mainNav li{ overflow:hidden; height:1%;}
#mainNav span.expand{ padding:0;}
.expand{ float:left; padding:0; width:40px; height:40px; margin:5px; background-color:#006699}


.sub_menu{ display:none;}
ul.dropdown li a{ padding:0;}
#topNav{ display:none;}#siteTools{ width:100%; float:none; position:static; top:auto; left:auto; padding:20px 0}
#siteTools li{ margin:0 0 5px 0;}
#siteTools{ padding-bottom:20px; float:left; width:100%;}
#siteTools.hlist li{ display:block; width:100%; float:left;}
#header{ position:relative; height:auto; text-align:center; width:100%; padding-bottom:20px; }
#mainNav li{ display:block; float:none;}
#logo{ position:static; margin-bottom:20px; display:block;}
#topContact{ display:none;}
#topSearchForm{ display:block; position:static; width:100%;}
#topSearchForm .labelGroup{ width:80%; }

#searchterm{ width:96%; float:left;}
#breadcrumb{ display:none;}

#promoSlot1, #promoSlot2, #promoSlot3, #promoSlot4{ width:100%; float:none;}
.promo img{ width:100%;}

.contentPage .grid li, .fullPage .grid li{ width:100%; margin-right:0; margin-left:0; float:left; text-align:left; list-style:none;}
* .grid .itemImage{ float:left; text-align:center; width:156px;}
* .grid dl.meta{ text-align:left; margin-left:200px;}
.catalogHeader{ display:none;}
.productCatalog { border-bottom:0;}
.productCatalog li{ border-bottom:1px solid #ccc; }
.contentSection .productCatalog li{ margin-bottom:20px;}

#centralArea{ display:none;}

#content .headerFunctions ul li{ display:block; margin-bottom:10px; background-color:#efefef; padding:5px 10px;margin-left:0;}
.sortingOptions{ float:none; width:100%;}
.wp-pagenavi{ float:none;}
.fr{ float:none;}
.fl{ float:none;}


#footer{ width:100%;}
.centeredList{ text-align:center;}
#copyright{ margin-top:20px;}

#productMedia{ width:100%; float:none;}
#productSetup{ width:100%; float:none; }
